/* div.background {
  background-image: url('../assets/image24.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //position: absolute;
  top: 0;
  left: 0;
  height: 1080px;
  width: 100%;
  z-index: -9;


  .background-overlay {
    position: absolute;
    z-index: -8;
    height: max-content;
    width: max-content;
    background: linear-gradient(to top,
        rgba(0, 0, 0, 100%) 0%,
        rgba(0, 0, 0, 0%) 100%);
  }
} */
