<div class="container-fluid">
  <div class="searchFields row" *ngIf="!isEmpty; else elseBlock">
    <div class="col search-group-1">
      <input
        class="yearField"
        placeholder="Release Year"
        [(ngModel)]="formValues.year"
        (keydown)="changeRoute($event)"
      />
      <select class="typeField" [(ngModel)]="formValues.type">
        <option value="all" selected>Any</option>
        <option value="movie">Movie</option>
        <option value="series">Series</option>
        <option value="game">Game</option>
      </select>
    </div>
    <div class="col search-group-2">
      <input
        class="titleField"
        placeholder="Movie Title"
        [(ngModel)]="formValues.title"
        (keydown)="changeRoute($event)"
      />

      <div class="searchButton" (click)="changeRouteButton()">
        <img src="{{ searchIcon }}" class="searchIcon" />
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="searchFields emptyList row">
      <div class="col search-group-1">
        <input
          class="yearField"
          placeholder="Release Year"
          [(ngModel)]="formValues.year"
          (keydown)="changeRoute($event)"
        />
        <select class="typeField" [(ngModel)]="formValues.type">
          <option value="all" selected>Any</option>
          <option value="movie">Movie</option>
          <option value="series">Series</option>
          <option value="game">Game</option>
        </select>
      </div>
      <div class="col search-group-2">
        <input
          class="titleField"
          placeholder="Movie Title"
          [(ngModel)]="formValues.title"
          (keydown)="changeRoute($event)"
        />

        <div class="searchButton" (click)="changeRouteButton()">
          <img src="{{ searchIcon }}" class="searchIcon" />
        </div>
      </div>
    </div>
  </ng-template>
</div>

<router-outlet></router-outlet>
